  .jogo{
    width: 100vw;
    height: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    }
  h3{
    padding: 20px;
  }
  .tabuleiro {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    height: 330px;
  }
  img{
    padding: 5px;
    border-radius: 15px;
    width: 110px;
    height: 110px;
  }

  .tabuleiro img:active{
    transform: rotateY(45deg);
    transform-origin: 20% 40%;
  }