*{margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
   margin: 0; padding: 0;
}

body{
    display: flex;
    min-height: 100vh;
    background: black;
}

.conteudo{
    display: grid;
    min-height: 100vh;
    background: black;
}

.navegation {
    position: relative;
    height: 100%;
    background: white;
    width: 70px;
    box-shadow: 10px 0 0 #818080;
    border-left: 10px solid black;
    overflow-x: hidden;
    transition: 0.9s;
}

.navegation:hover{
    width: 300px;
}

.navegation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navegation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
}

.navegation ul li a{
    position: relative;
    font-weight: bold;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: black;
}
.navegation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navegation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navegation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navegation ul li.active{
    background: #818080;
}

/* .slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: 10px;
    margin-top: 0;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: white;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 40px;
}

.slider li:nth-child(2) label {
    left: 10px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
    width: 1319px;
    height: 600px;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
} */

    
.banner {
    background-image: url(https://images7.alphacoders.com/985/985227.jpg);
    background-color: white;
    display: flex;
    height: 790px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.banner .containers{
    background-color: white;
    display: grid;
    text-align: center;
    justify-content: center;
    width: 40%;
    height: 455px;
    opacity: 96%;
}

.banner .containers button {
    background-color: black;
    border-radius: 100px;
    width: 100px;
    height: 30px;
    color: white;
}

.banner p{
    font-size: medium;
    color: black;
    font-weight: bold;
}

.banner button{
    align-items: center;
}

.banner .containers #div_msg1{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
}

.banner .containers #div_msg2{
    color: black;
    font-weight: bold;
}

.hello {
    color: black;
    display: flex;
    font-size: 20px;
    margin-left: 15%;
}

.img_banner {
    color: white;
    text-align: center;
    justify-content: center;
    width: 1390px;
    background-image: url(https://i0.wp.com/emotioncard.com.br/wp-content/uploads/2018/10/papel-de-parede-santos-pc18.jpg?fit=1600%2C900&ssl=1);
}

.img_banner .container {
    margin-top: 30%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}
